<div class="totalSummary">
<h3>Total</h3>
  <p>Subtotal: $<%= sprintf("%.2f", @order.subtotal) %></p>
  <p>Tax: $<%= sprintf("%.2f", @order.tax) %></p>
  <div class="total"><p>Total: $<%= sprintf("%.2f", @order.total) %></p></div>
</div>
