<h1>Cart</h1>
  <%= render partial: "cartTable" %>

<nav>
  <%= link_to "Continue Shopping", products_path, class: "button" %>
  <%= link_to "Proceed to checkout", checkout_path, method: :get, class: 'button' %>
</nav>
