<h1>Cart</h1>

<h2> Products: </h2>
<% if !@products.nil? %>
  <% @products.each do |product_order| %>
    <% product = Product.find(product_order.product_id) %>
    <article>
      <ul>
        <li> <%= product.name %> </li>
        <li> <%= product.price %> </li>
      </ul>
    </article>
  <% end %>
<% end %>

<%= link_to "Proceed to checkout", checkout_path, method: :get, class: 'button' %>
