<section class="row">
  <div class="large-10 columns">
  <h1>Cart</h1>
    <%= render partial: "cartTable" %>
  </div>
  <article class="large-2 columns">
    <nav>
      <%= link_to "Continue Shopping", products_path, class: "button" %>
      <%= link_to "Proceed to checkout", checkout_path, method: :get, class: 'button' %>
    </nav>
  </article>
</section>
