<section class="row">
<h1>Checkout</h1>

  <div class="large-5 columns">
    <h2>Total</h2>
  </div>

  <div class="large-7 columns">
    <%= render partial: "cartTable" %>
  </div>

  <div class="large-12 columns">
    <%= render partial: "form" %>
  </div>
</section>
