// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.products-list article {
  display: inline-block;
  border-width: thin;
  border-color: #d3d3d3;
}
