// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

aside {
  border-right: 1px solid #bfbfbf;
  padding-bottom: 50px;
}

aside .thumbnail {
  margin: 16px;
}
