<footer class="large-12 columns">
  <a href="#top">
    <div class="back-to-top">
      Back to top
    </div>
  </a>
  <section>

  </section>
  <section>
    <p>&copy; 2017, Sweatsy, LLC & affiliates</p>
  </section>
</footer>
