<section class = "row">

  <% @products.each do |product|%>
  <section>
    <div>
      <%=image_tag(product.image, alt: "Product image", class: "image")%>
    </div>
    <p>
      <%= product.name %>
    </p>
    <div>
      <%=product.description%>
    </div>
  </section>
  <% end %>

</section>

<div class = "row">
  <%= link_to "Add New", new_product_path, class: "button"%>
</div>
